@import "./../import/variables.scss";

@keyframes moveLeft {
  0% {
    left: 20px;
  }
  100% {
    left: 30px;
  }
}
@keyframes moveRight {
  0% {
    right: 20px;
  }
  100% {
    right: 30px;
  }
}

.gallery {
  .sliderBlock {
    .controllers {
      .left {
        &::after {
          animation: moveLeft 1s infinite alternate-reverse ease-in-out;
          left: 0;
        }
      }
      .right {
        &::after {
          animation: moveRight 1s infinite alternate-reverse ease-in-out;
          right: 0;
        }
      }
    }

    .slider {
      // transition: left 0.25s ease-out;
      &_item {
        img {
        }
      }
    }
  }
}
