.header {
  transition: max-height 0.25s ease-out;
  .nav {
    &__list {
      &_item {
        transition: opacity 0.25s ease-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__cta {
      transition: opacity 0.25s ease-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .bg {
    transition: opacity 0.25s ease-out, max-height 0.25s ease-out;
  }

  .side {
    .burger {
      .line {
        transition: all 0.25s ease-out;
        &::before,
        &::after {
          transition: all 0.25s ease-out;
        }
      }
    }
  }
}
