@import "./../import/variables.scss";

@keyframes moveLeft {
  0% {
    left: 20px;
  }
  100% {
    left: 30px;
  }
}
@keyframes moveRight {
  0% {
    right: 20px;
  }
  100% {
    right: 30px;
  }
}
@keyframes moveLeftMobile {
  0% {
    left: -12px;
  }
  100% {
    left: -2px;
  }
}
@keyframes moveRightMobile {
  0% {
    right: -12px;
  }
  100% {
    right: -2px;
  }
}

.partners {
  .partnersSliderBlock {
    .controllers {
      .left {
        &::after {
          animation: moveLeft 1s infinite alternate-reverse ease-in-out;
          left: 0;
        }
      }
      .right {
        &::after {
          animation: moveRight 1s infinite alternate-reverse ease-in-out;
          right: 0;
        }
      }
    }
  }
}

// mobile
@media only screen and (max-width: 833px) {
  .partners {
    .partnersSliderBlock {
      .controllers {
        .left {
          &::after {
            animation: moveLeftMobile 1s infinite alternate-reverse ease-in-out;
            left: 0;
          }
        }
        .right {
          &::after {
            animation: moveRightMobile 1s infinite alternate-reverse ease-in-out;
            right: 0;
          }
        }
      }
    }
  }
}
