@import "./../import/variables.scss";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100% - 224px);
  max-height: calc($lap_maxHeight - 224px);
  padding: 120px 0 104px;

  &__title {
    position: relative;
    font-weight: 300;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin: 0 0 58px;

    color: $black-c;

    &::before {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80px;
      border-bottom: 4px solid $blue-c;
      border-radius: 4px;
      content: "";
    }
  }
}

// tablet
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .block {
    height: calc(100% - 116px);
    max-height: calc($lap_maxHeight_tab - 116px);
    padding: 60px 0 56px;

    &__title {
      font-size: 34px;
      line-height: 42px;
    }
  }
}

// mobile
@media only screen and (max-width: 833px) {
  .block {
    height: calc(100% - 100px);
    max-height: calc($lap_maxHeight_mob - 100px);
    min-width: 320px;
    padding: 68px 0 32px;

    &__title {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 24px;
    }
  }
}
