@import "./../import/variables.scss";

.contacts {
  height: auto;
  background: $white-c;
  z-index: 60;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 96px;
    z-index: 61;
    .info {
      min-width: 546px;
      margin-right: 24px;
      z-index: 62;

      &__title {
        position: relative;
        font-weight: 300;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
        margin: 0 0 58px;

        color: $black-c;

        &::before {
          position: absolute;
          bottom: -8px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 80px;
          border-bottom: 4px solid $blue-c;
          border-radius: 4px;
          content: "";
        }
      }

      &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
        color: $blue-c;
      }

      &__location {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
        color: $black-c;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
      }
      address:last-of-type {
        margin-bottom: 64px;
      }

      &__phone {
        display: block;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $black-c;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
      }

      &__email {
        display: block;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: $black-c;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
      }
    }
  }
  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 63;

    .line {
      width: 48px;
      height: 48px;
      background: $blue-gradient-footer;
    }

    .left {
      height: 120px;
      margin-right: 24px;

      .line {
        width: 48px;
        &:first-of-type {
          margin-bottom: 24px;
        }
      }
    }

    .logoImg {
      height: 120px;
      margin-right: 24px;
    }

    .right {
      height: 120px;
      position: relative;
      width: calc(100% - 294px);
      .top {
        width: 100%;
        margin-bottom: 24px;
      }
      .bottom {
        display: flex;
        flex-direction: row;
        .text {
          margin-right: 24px;
          max-width: 202px;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 24px;
          line-height: 24px;
          color: #000000;
        }
        .line {
          width: calc(100% - 226px);
        }
      }
    }
  }
}

// tablet
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .contacts {
    .content {
      margin: 0 24px 56px;
      .info {
        min-width: 320px;
        margin-right: 50px;

        &__title {
          font-size: 34px;
          line-height: 42px;
          margin: 0 0 58px;
        }
      }
      .map {
        width: 416px;
        height: 350px;
        iframe {
          width: 416px;
          height: 350px;
        }
      }
    }
    .logo {
      .line {
        width: 48px;
        height: 32px;
      }

      .left {
        height: 78px;
        margin-right: 14px;

        .line {
          width: 32px;
          &:first-of-type {
            margin-bottom: 14px;
          }
        }
      }

      .logoImg {
        height: 78px;
        margin-right: 14px;

        svg {
          height: 78px;
          width: 128px;
        }
      }

      .right {
        height: 78px;
        width: calc(100% - 188px);
        .top {
          width: 100%;
          margin-bottom: 14px;
        }
        .bottom {
          .text {
            margin-right: 14px;
            max-width: 118px;
            font-size: 14px;
            line-height: 16px;
          }
          .line {
            width: calc(100% - 118px);
          }
        }
      }
    }
  }
}

// mobile
@media only screen and (max-width: 833px) {
  .contacts {
    max-height: 578px;
    .content {
      width: 100%;
      align-items: center;
      flex-direction: column;
      margin-bottom: 60px;
      .info {
        justify-content: center;
        min-width: 296px;
        max-width: 296px;
        margin-right: 0;

        &__title {
          font-size: 24px;
          line-height: 28px;
          margin: 0 0 24px;
        }

        &__subtitle {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
        }

        &__location {
          max-width: 244px;
          text-align: center;
          margin: 0 auto 4px;
        }
        address:last-of-type {
          margin-bottom: 24px;
        }

        &__phone,
        &__email {
          text-align: center;
          margin: 0 auto 4px;
          font-size: 16px;
          line-height: 20px;
        }

        &__email {
          margin-bottom: 32px;
        }
      }
      .map {
        width: calc(100% - 24px);
        height: 208px;
        iframe {
          width: 100%;
          height: 208px;
        }
      }
    }
    .logo {
      .line {
        width: 16px;
        height: 16px;
      }

      .left {
        height: 38px;
        margin-right: 6px;

        .line {
          width: 16px;
          &:first-of-type {
            margin-bottom: 6px;
          }
        }
      }

      .logoImg {
        height: 38px;
        margin-right: 6px;

        svg {
          height: 38px;
          width: 58px;
        }
      }

      .right {
        height: 38px;
        width: calc(100% - 86px);
        .top {
          width: 100%;
          margin-bottom: 6px;
        }
        .bottom {
          .text {
            margin-right: 6px;
            max-width: 62px;
            font-size: 8px;
            line-height: 8px;
          }
          .line {
            width: calc(100% - 62px);
          }
        }
      }
    }
  }
}
