@import "./../import/variables.scss", "./../animation/galleryAnimation.scss";

.gallery {
  // padding: 120px 0;
  height: 446px;
  margin: 0 auto;
  background-color: $white-c;
  z-index: 30;

  .sliderBlock {
    position: relative;
    overflow: hidden;

    .controllers {
      z-index: 35;

      &_side {
        position: absolute;
        height: 336px;
        width: 110px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;

        &::after {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          content: url(./../assets/icons/gallery-chevron-left.svg);
        }
      }

      .left {
        left: 0;
        background: linear-gradient(
          90deg,
          $white-c 50.03%,
          rgba(249, 249, 249, 0) 100%
        );
        z-index: 36;

        &::after {
          left: 20px;
        }
      }
      .right {
        right: 0px;
        background: linear-gradient(
          -90deg,
          $white-c 50.03%,
          rgba(249, 249, 249, 0) 100%
        );
        z-index: 37;

        &::after {
          right: 20px;
          transform: translate(0, -50%) rotate(180deg);
        }
      }
    }

    .slider {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 1128px;
      left: -1128px;
      z-index: 32;

      &_item {
        margin: 0 20px;
        height: 336px;
        border-radius: 14px;
        cursor: pointer;

        img {
          min-width: 336px;
          min-height: 336px;
          max-width: 336px;
          max-height: 336px;
          border-radius: 14px;
          object-fit: cover;
        }
      }
    }
  }
}

.fullScreen {
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 18, 51, 0.8);
  z-index: 11000;

  .prevBtn,
  .nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    cursor: pointer;
  }
  .nextBtn svg {
    transform: rotate(180deg);
  }

  .image {
    width: 80%;
    height: 90%;
    object-fit: contain;
  }

  .closeBtn {
    position: absolute;
    top: 50px;
    right: 42px;
    width: 100px;
    height: 100px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 0;
      height: 50px;
      border: 2.5px solid $white-c;
      border-radius: 6px;
      background: $white-c;
      content: "";
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.openedFullScreen {
  overflow: hidden;

  .fullScreen {
    display: flex;
  }
}

// tablet
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .gallery {
    padding: 60px 0 56px;
    height: 346px;
    .sliderBlock {
      .controllers {
        &_side {
          height: 246px;
        }
      }

      .slider {
        width: 798px;
        left: -798px;

        &_item {
          margin: 0 10px;
          height: 246px;

          img {
            min-width: 246px;
            min-height: 246px;
            max-width: 246px;
            max-height: 246px;
          }
        }
      }
    }
  }

  .fullScreen {
    .closeBtn {
      right: 0;
    }
  }
}
