@import "./../import/variables.scss", "./../animation/heroAnimation.scss";

.hero {
  position: relative;
  height: calc(100% + 70px);
  min-height: 872px;
  max-height: calc($lap_maxHeight + 70px);
  min-width: 320px;
  background: linear-gradient(0deg, $hero-bg-c, $hero-bg-c),
    url(./../assets/img/hero-bg.jpg) top / cover no-repeat;
  z-index: 1;

  &__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(50% - 60px);
    padding: 0 12px 0 48px;
    background: rgba(16, 85, 137, 0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 2;

    &_title {
      padding-top: 190px;
      margin-bottom: 38px;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      color: $black-c;
      max-width: 660px;
    }

    &_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 230px;
      max-width: 660px;

      &_description {
        margin-bottom: 36px;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        color: $white-c;
      }

      &_cta {
        position: relative;
        display: inline-block;
        padding: 12px 50px 12px 16px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $blue-c;
        background-color: $white-c;
        border-radius: 24px;

        &::after {
          position: absolute;
          right: 18px;
          width: 24px;
          height: 24px;
          content: url(./../assets/icons/hero-cta-arrow.svg);
        }
      }
    }

    &_scroll {
      position: absolute;
      bottom: 0;
      right: 0;
      &::before {
        position: absolute;
        bottom: 118px;
        right: -29px;

        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $white-c;
        content: "scroll";
      }
      &::after {
        position: absolute;
        bottom: 84px;
        right: -5px;
        width: 12px;
        height: 26px;
        content: url(./../assets/icons/hero-scroll-arrow.svg);
      }
    }
  }
}

// tablet
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .hero {
    height: calc(100% + 44px);
    min-height: 652px;
    max-height: calc($lap_maxHeight_tab + 44px);

    &__side {
      &_title {
        padding-top: 108px;
        font-size: 56px;
        line-height: 68px;
        max-width: 454px;
      }

      &_block {
        margin-bottom: 120px;
        max-width: 396px;

        &_description {
          margin-bottom: 24px;
          font-size: 20px;
          line-height: 28px;
        }
      }

      &_scroll {
        bottom: -56px;
      }
    }
  }
}

// mobile
@media only screen and (max-width: 833px) {
  .hero {
    height: 544px;
    min-height: 544px;
    max-height: 544px;

    &__side {
      height: 100%;
      width: calc(100% - 50px);
      padding: 0 38px 0 12px;

      &_title {
        padding-top: 86px;
        margin-bottom: 38px;
        font-size: 32px;
        line-height: 40px;
        max-width: 762px;
      }

      &_block {
        margin-bottom: 104px;
        max-width: 762px;

        &_description {
          margin-bottom: 32px;
          font-size: 18px;
          line-height: 24px;
        }

        &_cta {
          padding: 12px 40px 12px 16px;
          font-size: 14px;
          line-height: 18px;

          &::after {
            top: 10px;
            right: 14px;
            width: 20px;
            height: 20px;
          }
        }
      }

      &_scroll {
        bottom: -96px;
        right: 50%;
      }
    }
  }
}
