@import "./../import/variables.scss", "./../animation/partnersAnimation.scss";

.partners {
  // padding: 120px 0;
  // height: auto;
  height: 240px;
  margin: 0 auto;
  background-color: $lightBlue-c;
  z-index: 40;

  .partnersSliderBlock {
    position: relative;
    overflow: hidden;

    .controllers {
      z-index: 45;

      &_side {
        position: absolute;
        height: 130px;
        width: 110px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;

        &::after {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          content: url(./../assets/icons/gallery-chevron-left.svg);
        }
      }

      .left {
        left: 0;
        background: linear-gradient(
          90deg,
          $lightBlue-c 50.03%,
          rgba(249, 249, 249, 0) 100%
        );
        z-index: 46;

        &::after {
          left: 20px;
        }
      }
      .right {
        right: 0px;
        background: linear-gradient(
          -90deg,
          $lightBlue-c 50.03%,
          rgba(249, 249, 249, 0) 100%
        );
        z-index: 47;

        &::after {
          right: 20px;
          transform: translate(0, -50%) rotate(180deg);
        }
      }
    }

    .partnersSlider {
      position: relative;
      display: flex;
      flex-direction: row;
      max-width: 1128px;
      left: -1140px;
      z-index: 42;

      &_item {
        margin: 0 12px;
        height: 130px;

        img {
          min-width: 204px;
          min-height: 130px;
          max-width: 204px;
          max-height: 130px;
          object-fit: cover;
        }
      }
    }
  }
}

// tablet
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .partners {
    max-height: 240px;

    .partnersSliderBlock {
      .controllers {
        &_side {
          height: 90px;
          width: 110px;
        }
      }

      .partnersSlider {
        max-width: 800px;
        left: -800px;

        &_item {
          margin: 0 8px;
          height: 90px;

          img {
            min-width: 144px;
            min-height: 90px;
            max-width: 144px;
            max-height: 90px;
          }
        }
      }
    }
  }
}

// mobile
@media only screen and (max-width: 833px) {
  .partners {
    padding: 60px 0 56px;
    max-height: 146px;

    .partnersSliderBlock {
      .controllers {
        &_side {
          height: 94px;
          width: 40px;
        }
      }

      .partnersSlider {
        width: 294px;
        left: -490px;

        &_item {
          margin: 0 2px;
          height: 94px;

          img {
            min-width: 94px;
            min-height: 94px;
            max-width: 94px;
            max-height: 94px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
